.img{
  max-width: 80px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.userCard{
  display: flex;
}
.user{
  margin-right: 40px;
}
.userInfo{
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(107, 184, 107);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.miniContent{
  margin-bottom: 10px;
}
.btn{
  
}
.selectedPage{
  font-size: 20px;
  color: #fff;
}
.defPage{
  color: blue;
  padding: 10px;
  cursor: pointer;
}
